html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #04613a;
    max-width: 1200px;
    width:100%;
    margin: 0px auto;
    text-align: left;
    padding: 10px;
    color: #eee;
    background-image: url(../images/background1.png);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: local;
    overflow: auto;
}